.mainc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.table{
    margin-top: 5em;
    width: 50em;
}

.navbar{
    border-bottom: 1px groove red;
}
.list_img{
    border-radius: 1em;
    width: 10em;
}

.delete{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.form_div{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.offcanvas{
    color: white;
}

.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
  }
.border-gradient-purple {
border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.border-gradient-green {
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}
.only-bot {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

