{% extends "master.html" %}


{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block offcanvas %}
<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#newitem" role="button" aria-controls="newitem">Nuevo item</a>
{% endblock %}

{% block inventario %}
<main class="mainc">
    {% if comidas %}
    <div>
        <table class="table table-dark table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre item</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Agregado</th>
                    <th scope="col">Fecha creación</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                    <th scope="col">Imagen</th>
                </tr>
            </thead>
            <tbody>
                {% for x in comidas %}
                <tr>
                    <td>{{ x.item }}</td>
                    <td>{{ x.precio }}</td>
                    <td>{{ x.agregado }}</td>
                    <td>{{ x.fecha_ingreso }}</td>
                    <td><a href="{% url 'editar_item' x.slug %}" class="btn btn-warning">Editar</a></td>
                    <td><a href="{% url 'eliminar_item' x.slug %}" class="btn btn-danger">Borrar</a></td>
                    <td><img src="{{ x.imagen.url }}" alt="" class="list_img"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</main>
<div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="newitem" aria-labelledby="newitemLabel">
    <div class="offcanvas-header">
      <h3 class="offcanvas-title" id="newitemLabel">Nuevo item</h3>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Recuerde especificar si el item es un agregado o no al crear un nuevo item de comida
      </div>
      <div>
        <form enctype="multipart/form-data" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
              <button type="submit" class="btn btn-primary">
                Añadir
              </button>
            {% endbuttons %}
          </form>
      </div>
    </div>
</div>

{% endblock %}