<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <title>El Comilon</title>
    </head>
    <body>   
        <nav class="nav_border navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="main.html">El Comilon</a>
                <img class="image" src="Imagenes/loguito.png" alt="loguito">
                <div class="nav_end">
                    <a href="carritodecompra.html"><img class="imagen_carrito" src="Imagenes/carritonuevo.webp" alt="" style="height: 3rem;"></a> 
                    <a class="btn btn-outline-success" href="Login.html">Login</a>
                </div>
            </div> 
        </nav>
        <div class="wrapper">    
            <img class="imagen_carrito" src="Imagenes/loguito.png" alt=" working" style="height: 8rem;">
            <div class="mb-3">
                <label for="calle" class="form-label">Ingrese su calle</label>
                <input type="text" class="form-control" id="calle" placeholder="Example input placeholder">
            </div>
            <div class="mb-3">
                <label for="numcalle" class="form-label">Ingrese el numero de la calle </label>
                <input type="text" class="form-control" id="numcalle" placeholder="Another input placeholder">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Ingrese su numero de telefono</label>
                <input type="text" class="form-control" id="telefono" placeholder="Another input placeholder">
            </div>
            <div class="mb-3">
                <label for="indicaciones" class="form-label">Indicaciones para entregar </label>
                <textarea class="form-control" id="indicaciones" rows="3"></textarea>
            </div>
            {% buttons %}
            <button type="submit" class="btn btn-primary">Ingresar</button>
            {% endbuttons %}
            <p class="warnings" id="warnings"></p>
        </div>  
        <script src="js/valida_carrito.js"></script>
    </body>
</html>