<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>El diablo</title>
    </head>
    <body>
        <div>
            <h1>El diablo pizzas</h1>
        </div>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Añadir pizza</button>
            </form>
        </div>
        <div>
            {% if pizzas %}
            <table>
                <thead>
                    <tr>
                        <th>Nombre pizza</th>
                        <th>Precio pizza</th>
                    </tr>
                </thead>
                <tbody>
                {% for x in pizzas %}
                    <tr>
                        <td>{{ x.nombre_pizza }}</td>
                        <td>{{ x.precio }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h2>No hay pizzas</h2>
            {% endif %}
        </div>
    </body>
</html>