{% extends 'main_master.html' %}

{% block carousel %}
<div id="carouselExampleCaptions" class="car_size carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for x in ofertas %}
    {% if forloop.first %}
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    {% else %}
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="{{ forloop.counter }}"></button>
    {% endif %}
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for x in ofertas %}
    {% if forloop.first %}
    <div class="carousel-item active">
    {% else %}
    <div class="carousel-item ">
    {% endif %}
      <img src="{{ x.imagen.url }}" class="car_img d-block" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ x.item }}</h5>
        <p>${{ x.precio }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}

{% block menu %}
<div class="title_text">
  <h1>Pizzas</h1>
</div>
<div class="menu_cards">
  {% for x in listado %}
  <div class="card" style="width: 18rem;">
    <img src="{{ x.imagen.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ x.item }}</h5>
      <p class="card-text">${{ x.precio }}</p>
      <form action="{% url 'añadir al carro' x.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Añadir al carro</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
<div class="title_text">
  <h1>Agregados</h1>
</div>
<div class="menu_cards">
  {% for x in agregados %}
  <div class="card" style="width: 18rem;">
    <img src="{{ x.imagen.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ x.item }}</h5>
      <p class="card-text">${{ x.precio }}</p>
      <form action="{% url 'añadir al carro' x.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Añadir al carro</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}